<!-- Default form subscription -->
<div class="card">
	<div class="card-header">
		<p class="h4 mb-2 text-center">Add Mission</p>
	</div>
	<div class="card-body">
		<form class="text-center border border-light p-5" action="#!">

			<!-- Name -->
			<input type="text" name="TitleMission" id="TitleMission" class="form-control mb-4"
				placeholder="Mission TitleMission">

			<!-- Price -->
			<input type="text" name="destination" id="destination" class="form-control mb-4"
				placeholder="Mission destination">

			<!-- Description -->
			<textarea class="form-control mb-4" id="date" name="date"
				placeholder="Missiont start_date ">Mission start_date
                                 </textarea>
			<div class="custom-file mb-4">
				<input type="file" name="file" class="custom-file-input"
					id="customFile"> <label class="custom-file-label"
					for="customFile">Mission Image</label>
			</div>
			<!-- Sign in button -->
			<button class="btn btn-info btn-block" type="submit">add</button>
		</form>
	</div>
</div>
<!-- Default form subscription -->